<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="container">
        <h1>POTATOES </h1>
        <h2>Le Site n°1 de revente de patate</h2> 
        <p>Parce que la Patate c'est un metier</p>

        <a href="/login" class="btn">
            Connexion
        </a>
    </div>

</body>
</html>
